extend includes/_layout

block title
	title Careers

block header
	header.header
		.header__container.container
			a.header__logo(href='index.html')
				img.header__logo-img(src='img/logo.png' srcset='img/logo@2x.png 2x' alt='logo')
			button.header__nav-toggle
				span.header__icon
block content
	//begin subheader
	.subheader.subheader_career
		.subheader__title.container Careers
	//end subheader

	//begin section
	section.section.career
		.container
			.career__container
				.section__title.title.title_medium.title_blue We Offer:
				.career__center
					ul.career__list.list
						li.list__item Competitive Salary
						li.list__item Health and Dental Insurance Benefits
						li.list__item 401 (k) Plan + Employer Matching
						li.list__item Leave at 4pm on Fridays (If you show up at 8am)
	//end section

	//begin section
	section.section.section_gray.career
		.container
			.career__container
				.section__title.title.title_medium.title_blue Available jobs
				.career__accordion.accordion
					// begin accordion item
					.accordion__title
						.accordion__title-in.js-accordion-title Ad Operations <i class="icon-title"></i>
						.accordion__inner.doc.js-accordion-inner
							p An Account Manager's job is to facilitate and oversee the success and monetization of media inventory on a daily basis. This includes, but it not limited to the following:
							p.doc__title Campaign Management
							ul.doc__list
								li.doc__list-item Onboarding New Partners -- Setting up new flight dates, monitoring delivery, setting up specific targeting parameters as outlined per the campaign details
								li.doc__list-item Exporting publisher tags and logins -- Determining proper mapping for publisher tags, setting price floors
								li.doc__list-item Daily pacing and optimizations -- Increasing and decreasing daily caps for Advertisers, creating whitelists / blacklists as outlined by Advertisers
								li.doc__list-item Maintaining strong margins and profits for all Publishers -- Ensuring correct floors are set, monitoring margins on a daily basis, adjusting price floors if needed
								li.doc__list-item Effective communication between clients and supply partners -- Communicating with Advertisers on daily caps and fill issues, emailing publishers on a daily / weekly basis to maintain an effective working relationship
								li.doc__list-item Overseeing the day to day success of campaigns -- Overall platform management on both Advertiser and Publisher levels
							p.doc__title Profit Management
							ul.doc__list
								li.doc__list-item Data Analysis of campaign performance -- Running Advertising reports, cross referencing with internal numbers
								li.doc__list-item Daily revenue and margin tracking for all new and current Demand Partners -- Checking for discrepancies on a daily / weekly basis
								li.doc__list-item Working closely with internal sales and supply team -- Notifying internal team about issues and potential opportunities to increase revenue.
							p.doc__title RFP proposals
							ul.doc__list
								li.doc__list-item Generating site lists -- Compiling websites for client's specific requests across different verticals, devices, and media types
								li.doc__list-item Detailing our accessible inventory on an available basis to clients -- Putting available inventory into a presentable format to be submitted to clients
								li.doc__list-item Advertiser Approvals -- Compiling data from our internal inventory with specific details to send to Advertiser's for approval
							.doc__center
								button.blue-btn Apply now <i class="icon"></i>

					// begin accordion item
					.accordion__title
						.accordion__title-in.js-accordion-title Publisher Development Manager <i class="icon-title"></i>
						.accordion__inner.doc.js-accordion-inner
							p An Account Manager's job is to facilitate and oversee the success and monetization of media inventory on a daily basis. This includes, but it not limited to the following:
							p.doc__title Campaign Management
							ul.doc__list
								li.doc__list-item Onboarding New Partners -- Setting up new flight dates, monitoring delivery, setting up specific targeting parameters as outlined per the campaign details
								li.doc__list-item Exporting publisher tags and logins -- Determining proper mapping for publisher tags, setting price floors
								li.doc__list-item Daily pacing and optimizations -- Increasing and decreasing daily caps for Advertisers, creating whitelists / blacklists as outlined by Advertisers
								li.doc__list-item Maintaining strong margins and profits for all Publishers -- Ensuring correct floors are set, monitoring margins on a daily basis, adjusting price floors if needed
								li.doc__list-item Effective communication between clients and supply partners -- Communicating with Advertisers on daily caps and fill issues, emailing publishers on a daily / weekly basis to maintain an effective working relationship
								li.doc__list-item Overseeing the day to day success of campaigns -- Overall platform management on both Advertiser and Publisher levels
							p.doc__title Profit Management
							ul.doc__list
								li.doc__list-item Data Analysis of campaign performance -- Running Advertising reports, cross referencing with internal numbers
								li.doc__list-item Daily revenue and margin tracking for all new and current Demand Partners -- Checking for discrepancies on a daily / weekly basis
								li.doc__list-item Working closely with internal sales and supply team -- Notifying internal team about issues and potential opportunities to increase revenue.
							p.doc__title RFP proposals
							ul.doc__list
								li.doc__list-item Generating site lists -- Compiling websites for client's specific requests across different verticals, devices, and media types
								li.doc__list-item Detailing our accessible inventory on an available basis to clients -- Putting available inventory into a presentable format to be submitted to clients
								li.doc__list-item Advertiser Approvals -- Compiling data from our internal inventory with specific details to send to Advertiser's for approval
							.doc__center
								button.blue-btn Apply now <i class="icon"></i>

					// begin accordion item
					.accordion__title
						.accordion__title-in.js-accordion-title Account Manager <i class="icon-title"></i>
						.accordion__inner.doc.js-accordion-inner
							p An Account Manager's job is to facilitate and oversee the success and monetization of media inventory on a daily basis. This includes, but it not limited to the following:
							p.doc__title Campaign Management
							ul.doc__list
								li.doc__list-item Onboarding New Partners -- Setting up new flight dates, monitoring delivery, setting up specific targeting parameters as outlined per the campaign details
								li.doc__list-item Exporting publisher tags and logins -- Determining proper mapping for publisher tags, setting price floors
								li.doc__list-item Daily pacing and optimizations -- Increasing and decreasing daily caps for Advertisers, creating whitelists / blacklists as outlined by Advertisers
								li.doc__list-item Maintaining strong margins and profits for all Publishers -- Ensuring correct floors are set, monitoring margins on a daily basis, adjusting price floors if needed
								li.doc__list-item Effective communication between clients and supply partners -- Communicating with Advertisers on daily caps and fill issues, emailing publishers on a daily / weekly basis to maintain an effective working relationship
								li.doc__list-item Overseeing the day to day success of campaigns -- Overall platform management on both Advertiser and Publisher levels
							p.doc__title Profit Management
							ul.doc__list
								li.doc__list-item Data Analysis of campaign performance -- Running Advertising reports, cross referencing with internal numbers
								li.doc__list-item Daily revenue and margin tracking for all new and current Demand Partners -- Checking for discrepancies on a daily / weekly basis
								li.doc__list-item Working closely with internal sales and supply team -- Notifying internal team about issues and potential opportunities to increase revenue.
							p.doc__title RFP proposals
							ul.doc__list
								li.doc__list-item Generating site lists -- Compiling websites for client's specific requests across different verticals, devices, and media types
								li.doc__list-item Detailing our accessible inventory on an available basis to clients -- Putting available inventory into a presentable format to be submitted to clients
								li.doc__list-item Advertiser Approvals -- Compiling data from our internal inventory with specific details to send to Advertiser's for approval
							.doc__center
								button.blue-btn Apply now <i class="icon"></i>
	//end section

block footer
	footer.footer
		.footer__top
			.footer__container.container
				.footer__col
					.footer__logo
						img.footer__img(src='img/content/footer-logo.png' alt='logo')
				.footer__col
					.footer__foot-el.foot-el
						.foot-el__icon
							+i('geo')
						.foot-el__info
							.foot-el__name Address
							.foot-el__text bluTonic, Inc. 5757 Wilshire Blvd,<br>Ste 601, Los Angeles, CA 90036
				.footer__col
					.footer__foot-el.foot-el
						.foot-el__icon
							+i('email')
						.foot-el__info
							.foot-el__name Email
							a.foot-el__text(href='mailto:info@blutonic.com') info@blutonic.com
		.footer__map
			.footer__map-container#map
			.footer__map-social
				.footer__map-title Follow Us
				//begin soc
				.soc
					a.soc__link.soc__link_in(href='#'): +i('in')
				//end soc
		.footer__bot
			.container
				.footer__copyright Copyright © 2016, blutonic. All Rights Reserved.
