extend includes/_layout

block title
	title Index

block header
	//begin nav
	nav.nav.js-nav
		.nav__close.js-nav-close
			.nav__close-icon
		.nav__in
			a.nav__link.is-active(href='index.html'): h2 Home
			a.nav__link(href='publish.html'): h2 Publisher Solutions
			a.nav__link(href='advert.html'): h2 Advertisers
			a.nav__link(href='career.html'): h2 Careers
			a.nav__link(href='contact.html'): h2 Contact
			a.nav__link(href='about.html'): h2 About
	//end nav
	header.header.js-header
		.header__container.container
			h1
				a.header__logo(href='index.html')
					img.header__logo-img(src='img/logo.png' alt='logo')
			button.header__nav-toggle.js-toggle
				span.header__icon

block content
	//begin subheader
	.subheader.subheader_home
		video.subheader__video.js-video(autoplay muted loop poster="img/bg/home-bg.jpg")
			source(src="img/video/blutonic.mp4" type="video/mp4")
		//begin slider
		.subheader__slider
			.subheader__item
				h2.subheader__title.text-blue.container The Next Generation
					span.subheader__list
						span.subheader__list-item SSP
			.subheader__item
				h2.subheader__title.text-blue.container Cross Screen
					ul.subheader__list
						li.subheader__list-item Mobile
						li.subheader__list-item Tablet
						li.subheader__list-item cTV/OTT
						li.subheader__list-item Desktop
			.subheader__item
				h2.subheader__title.text-blue.container Dynamic Solutions
					ul.subheader__list
						li.subheader__list-item Video
						li.subheader__list-item Display
						li.subheader__list-item Native
						li.subheader__list-item Rich Media
		//end slider
	//end subheader

	//begin section
	section.section.section_media
		//begin media
		.media.media_home
			.media__item
				.media__ratio
					.media__content
						.media__icon
							+i('video')
						h2.media__title Video
				.media__hidden
					.media__hidden-in
						.media__hidden-title Dynamic solutions for engaging video experiences.
						ul.media__list
							li.media__list-item Cross-Device Delivery
							li.media__list-item In-Stream & Out-Stream Solutions
							li.media__list-item Adaptive Ad Formats
							li.media__list-item Scale Without Compromise
			.media__item
				.media__ratio
					.media__content
						.media__icon
							+i('display')
						h2.media__title Display
				.media__hidden
					.media__hidden-in
						.media__hidden-title Dynamic solutions for engaging video experiences.
						ul.media__list
							li.media__list-item Cross-Device Delivery
							li.media__list-item In-Stream & Out-Stream Solutions
							li.media__list-item Adaptive Ad Formats
							li.media__list-item Scale Without Compromise
			.media__item
				.media__ratio
					.media__content
						.media__icon
							+i('native')
						h2.media__title Native
				.media__hidden
					.media__hidden-in
						.media__hidden-title Dynamic solutions for engaging video experiences.
						ul.media__list
							li.media__list-item Cross-Device Delivery
							li.media__list-item In-Stream & Out-Stream Solutions
							li.media__list-item Adaptive Ad Formats
							li.media__list-item Scale Without Compromise
		//end media
	//end section

	//begin section
	section.section.advert.advert_platform
		.container
			.advert__container
				h2.section__title.title.title_white Platforms
				//begin media
				.media.media_platform
					.media__item.is-active.js-tabs-btn
						.media__avatar
							.media__icon
								+i('mobile')
						h3.media__title Mobile
					.media__item.js-tabs-btn
						.media__avatar
							.media__icon
								+i('desktop')
						h3.media__title Desktop
					.media__item.js-tabs-btn
						.media__avatar
							.media__icon
								+i('tv')
						h3.media__title TV
				//end media
	//end section

	//begin section
	section.section.section_tabs
		.container
			.advert__container
				.tabs-for.js-tabs
					.tabs-for__item.js-tabs-item
						h3.tabs-for__title Mobile
						.tabs-for__text Monetize iOS, Android, Windows, Blackberry apps or mobile websites with our mobile products. Integration is easy: Server-to-server, API, SDK, or tags.
					.tabs-for__item.js-tabs-item
						h3.tabs-for__title Mobile
						.tabs-for__text Monetize iOS, Android, Windows, Blackberry apps or mobile websites with our mobile products. Integration is easy: Server-to-server, API, SDK, or tags. Monetize iOS, Android, Windows, Blackberry apps or mobile websites with our mobile products. Integration is easy: Server-to-server, API, SDK, or tags.
					.tabs-for__item.js-tabs-item
						h3.tabs-for__title Mobile
						.tabs-for__text Monetize iOS, Android, Windows, Blackberry apps or mobile websites with our mobile products. Integration is easy: Server-to-server, API, SDK, or tags.
	//end section

	//begin section
	section.section.section_tools
		h2.section__title.title.title_white Publisher Tools
		//begin slider
		.slider.js-slider
			.slider__item
				.slider__container.container
					h3.slider__title Global Support
					.slider__text Our team of experts works closely with publishers to facilitate business growth - all the way from ad set-up to rigorous revenue optimization. Our team of experts works closely with publishers to facilitate business growth - all the way from ad set-up to rigorous revenue optimization.
					a.slider__blue-btn.blue-btn.blue-btn_light(href='#') Read more <i class="icon"></i>
			.slider__item
				.slider__container.container
					h3.slider__title Global Support
					.slider__text Our team of experts works closely with publishers to facilitate business growth - all the way from ad set-up to rigorous revenue optimization.
					a.slider__blue-btn.blue-btn.blue-btn_light(href='#') Read more <i class="icon"></i>
			.slider__item
				.slider__container.container
					h3.slider__title Global Support
					.slider__text Our team of experts works closely with publishers to facilitate business growth - all the way from ad set-up to rigorous revenue optimization.
					a.slider__blue-btn.blue-btn.blue-btn_light(href='#') Read more <i class="icon"></i>
		//end slider
	//end section

block footer
	footer.footer
		//begin section
		.section
			.container
				.section__title.title Get in touch
				form.section__form.form(action='#')
					.form__field
						input.form__input(type='text' placeholder='Full Name')
					.form__field
						input.form__input(type='text' placeholder='Email')
					.form__field
						input.form__input(type='text' placeholder='Company Name')
					.form__field
						.form__select-style
							select.form__select(required)
								option.form__option(value='' disabled selected) Company Type
								option.form__option(value='type 1') Type 1
								option.form__option(value='type 2') Type 2
								option.form__option(value='type 3') Type 3
					.form__field
						textarea.form__area(placeholder='Message...')
					.form__field.form__field_submit
						button.form__submit.blue-btn(type='submit') Send <i class='icon'></i>
		//end section
		.footer__top
			.footer__container.container
				.footer__col
					.footer__logo
						img.footer__img(src='img/content/footer-logo.png' alt='logo')
				.footer__col
					.footer__foot-el.foot-el
						.foot-el__icon
							+i('geo')
						.foot-el__info
							.foot-el__name Address
							.foot-el__text bluTonic, Inc. 5757 Wilshire Blvd,<br>Ste 601, Los Angeles, CA 90036
				.footer__col
					.footer__foot-el.foot-el
						.foot-el__icon
							+i('email')
						.foot-el__info
							.foot-el__name Email
							a.foot-el__text(href='mailto:info@blutonic.com') info@blutonic.com
		.footer__map
			.footer__map-container#map
			.footer__map-social
				.footer__map-title Follow Us
				//begin soc
				.soc
					a.soc__link.soc__link_in(href='#'): +i('in')
				//end soc
		.footer__bot
			.container
				.footer__copyright Copyright © 2016, blutonic. All Rights Reserved.
